@import '../../style.scss';

.section-pricing {
  margin: auto;
  
  .section-pricing__title {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;

    .section-pricing__title-main {
      @include title;
      margin-bottom: 0.5rem;
    }

    .section-pricing__title-sub {
      color: $color-subtext;
      font-weight: bold;
    }
  }

  .section-pricing__block {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }

  .section-pricing__footer {
    text-align: center;
    margin: 2.5rem auto;
    font-weight: bold;
    color: $color-subtext;
  }
}