$color-button: linear-gradient(344deg, #f40f7c 0%, #eda384 100%);
$color-subtext: #808080;
$color-green: #25cfa2;
$color-orange: #ffaf8b;
$color-blue: #438aff;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-infinite: 10000px;

@mixin title {
  font-weight: bold;
  font-size: 1.5rem;
}

@mixin sub-text {
  color: $color-subtext;
  font-weight: bold;
  font-size: 11px;
}

@mixin breakpoint($min, $max) {
    @media only screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin mobileBreakpoint {
    @include breakpoint($breakpoint-xs, $breakpoint-sm) {
        @content;
    }
}

@mixin tabletBreakpoint {
    @include breakpoint($breakpoint-sm, $breakpoint-lg) {
        @content;
    }
}

@mixin desktopBreakpoint {
    @include breakpoint($breakpoint-lg, $breakpoint-infinite) {
        @content;
    }
}